<a href="https://colab.research.google.com/github/abhi1628/R_Programming/blob/main/R_from_scratch_day5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Summing a Vector

In [1]:
# Define a vector
numbers <- c(1, 2, 3, 4, 5)

# Initialize the sum variable
sum <- 0

# For loop to calculate the sum
for (num in numbers) {
  sum <- sum + num
}

# Print the result
cat("The sum of the vector is:", sum, "\n")

The sum of the vector is: 15

## Finding Factorial

In [2]:
# Define the number
number <- 5

# Initialize variables
factorial <- 1
i <- 1

# While loop to calculate the factorial
while (i <= number) {
  factorial <- factorial * i
  i <- i + 1
}

# Print the result
cat("The factorial of", number, "is:", factorial, "\n")

The factorial of 5 is: 120

## Generating Fibonacci Sequence

In [3]:
# Number of Fibonacci terms to generate
n_terms <- 10

# Initialize the first two terms
fibonacci <- c(0, 1)

# Repeat loop to generate the Fibonacci sequence
repeat {
  # Calculate the next term
  next_term <- tail(fibonacci, 1) + tail(fibonacci, 2)[1]

  # Append the next term to the sequence
  fibonacci <- c(fibonacci, next_term)

  # Break the loop if the desired number of terms is reached
  if (length(fibonacci) >= n_terms) {
    break
  }
}

# Print the Fibonacci sequence
cat("The first", n_terms, "numbers in the Fibonacci sequence are:\n")
print(fibonacci)

The first 10 numbers in the Fibonacci sequence are:
 [1]  0  1  1  2  3  5  8 13 21 34

## Print Multiplication Table

In [4]:
# Define the number
number <- 5

# For loop to print the multiplication table
cat("Multiplication table for", number, ":\n")
for (i in 1:10) {
  result <- number * i
  cat(number, "*", i, "=", result, "\n")
}

Multiplication table for 5 :
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

## Counting Down

In [5]:
# Define the starting number
start_number <- 10

# While loop to count down
cat("Counting down from", start_number, ":\n")
while (start_number > 0) {
  cat(start_number, "\n")
  start_number <- start_number - 1
}

# Print a message when the countdown is complete
cat("Countdown complete!\n")

Counting down from 10 :
10
9
8
7
6
5
4
3
2
1
Countdown complete!

## Prime Number Check using user defined function

In [6]:
# Function to check if a number is prime
is_prime <- function(num) {
  if (num <= 1) {
    return(FALSE)
  }
  for (i in 2:sqrt(num)) {
    if (num %% i == 0) {
      return(FALSE)
    }
  }
  return(TRUE)
}

# Test the function
number <- 29
if (is_prime(number)) {
  cat(number, "is a prime number.\n")
} else {
  cat(number, "is not a prime number.\n")
}

29 is a prime number.

## Write a R script to split a number into its individual digits and convert these digits into numeric values.

In [9]:
# Define the number
num <- 12345

# Convert the number to a character string
char_num <- as.character(num)
# Output: "12345"

# Split the character string into individual characters (digits)
split_digits <- strsplit(char_num, "")
# Output: list("1", "2", "3", "4", "5")

# Unlist the result to get a character vector of digits
char_vector <- unlist(split_digits)
# Output: c("1", "2", "3", "4", "5")

# Convert the character vector to a numeric vector
digits <- as.numeric(char_vector)
# Output: c(1, 2, 3, 4, 5)

# Print the final result
print(digits)

[1] 1 2 3 4 5

## Armstrong Number Check using user defined function

In [7]:
# Function to check if a number is an Armstrong number
is_armstrong <- function(num) {
  digits <- as.numeric(unlist(strsplit(as.character(num), "")))
  n <- length(digits)
  sum_of_powers <- sum(digits^n)
  return(sum_of_powers == num)
}

# Test the function
number <- 153
if (is_armstrong(number)) {
  cat(number, "is an Armstrong number.\n")
} else {
  cat(number, "is not an Armstrong number.\n")
}

153 is an Armstrong number.

## Sum of Digits using user defined function

In [8]:
# Function to calculate the sum of digits
sum_of_digits <- function(num) {
  digits <- as.numeric(unlist(strsplit(as.character(num), "")))
  return(sum(digits))
}

# Test the function
number <- 12345
sum_digits <- sum_of_digits(number)
cat("The sum of the digits of", number, "is:", sum_digits, "\n")

The sum of the digits of 12345 is: 15