<a href="https://colab.research.google.com/github/abhi1628/R_Programming/blob/main/R_from_scratch_day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Operators in R

In [ ]:
# Arithmetic operators
print("Arithmetic Operators")
print(5 + 3)
print(5 - 3)
print(5 * 3)
print(5 / 3)
print(5 ^ 3)
print(5 %% 3)
print(5 %/% 3)

[1] "Arithmetic Operators"
[1] 8
[1] 2
[1] 15
[1] 1.666667
[1] 125
[1] 2
[1] 1

In [ ]:
# Relational operators
print("Relational Operators")
print(5 > 3)
print(5 < 3)
print(5 >= 3)
print(5 <= 3)
print(5 != 3)
print(5 == 3)

[1] "Relational Operators"
[1] TRUE
[1] FALSE
[1] TRUE
[1] FALSE
[1] TRUE
[1] FALSE

In [ ]:
# Logical Operators
print("Logical Operators")
print(TRUE & TRUE)
print(TRUE | FALSE)
print(!TRUE)

[1] "Logical Operators"
[1] TRUE
[1] TRUE
[1] FALSE

In [ ]:
# Special Operators
print("Special Operators")
print(5:10)
print(5 %in% c(1,2,3,4,5,6))
print(1:10 %in% 5:8)

[1] "Special Operators"
[1]  5  6  7  8  9 10
[1] TRUE
 [1] FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE FALSE FALSE

## WAP in R to check if a number is even

In [ ]:
num <- 10
if(num %% 2 == 0){
  print(paste(num, "is even"))
}else{
  print(paste(num, "is odd"))
}

[1] "10 is even"

In [ ]:
num <- 10.0
print(class(num))
if(num %% 2 == 0){
  print(paste(num, "is even"))
}else{
  print(paste(num, "is odd"))
}

[1] "numeric"
[1] "10 is even"

## WAP in R to check if a number is positive, zero or negative

In [ ]:
num <- -10.0
print(class(num))
if(num > 0){
  print(paste(num, "is positive"))
}else if(num < 0){
  print(paste(num, "is negative"))
}else{
  print(paste(num, "is zero"))
}

[1] "numeric"
[1] "-10 is negative"

## WAP to find the factorial of a number

In [ ]:
num <- 10
fact <- 1
for (i in 1:num){
  fact <- fact * i
}
print(paste("Factorial of",num,"is",fact))

[1] "Factorial of 10 is 3628800"

## WAP to find the factorial of a number. Take number from user.

In [ ]:
num <- readline(prompt = "Enter a number:")
fact <- 1
for (i in 1:num){
  fact <- fact * i
}
print(paste("Factorial of",num,"is",fact))

Enter a number:10
[1] "Factorial of 10 is 3628800"