<a href="https://colab.research.google.com/github/abhi1628/R_Programming/blob/main/R_from_scratch_day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## R is programming language created by statisticians Ross Ihaka and Robert Gentleman

## Basic Arithmetic in R

In [5]:
2 + 3 # add
5 - 2 # subtraction
3 * 4 # multiplication
10 / 2 # division
2 ^ 3 # exponent or power
sqrt(16) # square root

[1] 5

[1] 3

[1] 12

[1] 5

[1] 8

[1] 4

## Assigning values to variables

In [6]:
x = 5
print(x)
y <- 10
print(y)

[1] 5
[1] 10

## Checking the datatype

In [8]:
a <- 'mystring'
b <- 5
c <- 10.7
d <- TRUE
print(a)
print(b)
print(c)
print(d)

[1] "mystring"
[1] 5
[1] 10.7
[1] TRUE

In [10]:
print(class(a))
print(class(b))
print(class(c))
print(class(d))

[1] "character"
[1] "numeric"
[1] "numeric"
[1] "logical"

## Vectors are the basic data structure in R. Using c function of R a vector is created.

In [11]:
vec <- c(1,2,3,4,5) # c means combine.
                    # Here we are creating a numeric vector
char <- c('a', 'b', 'c') # creating a character vector
print(vec)
print(class(vec))
print(char)
print(class(char))

[1] 1 2 3 4 5
[1] "numeric"
[1] "a" "b" "c"
[1] "character"

## Sequence and Repetitions

In [14]:
seq1 <- 1:10 # from 1 to 10
print(seq1)
print(class(seq1))
seq2 <- seq(1, 10, by = 2) # from 1 to 10 by stepsize 2
print(seq2)
print(class(seq2))
rep1 <- rep(5, times = 3) # repeat 5 three times
print(rep1)
print(class(rep1))

 [1]  1  2  3  4  5  6  7  8  9 10
[1] "integer"
[1] 1 3 5 7 9
[1] "numeric"
[1] 5 5 5
[1] "numeric"

## Lists in an R object contains many different types of elements inside it like vectors, functions and even another list inside it

In [21]:
list1 <- list(21.3, 'apple', c(1,2,3))
list1

[[1]]
[1] 21.3

[[2]]
[1] "apple"

[[3]]
[1] 1 2 3

## Arrays

In [23]:
a = array(c('red','green','blue'), dim = c(3,3,2))
print(a)

, , 1

     [,1]    [,2]    [,3]
[1,] "red"   "red"   "red"
[2,] "green" "green" "green"
[3,] "blue"  "blue"  "blue"

, , 2

     [,1]    [,2]    [,3]
[1,] "red"   "red"   "red"
[2,] "green" "green" "green"
[3,] "blue"  "blue"  "blue"

# Data Frames
## Data frames are tabular data objects. Unlike a matrix, in data frame each column can contain different modes of data. The first column can be numeric while second column can be character and third column can be a logical. It is a list of vectors of equal length.

In [28]:
BMI <- data.frame(
  name = c('Vedant', 'Raj', 'Jatin', 'Shubhanshika'),
  gender = c("Male", "Male", "Male", "Female"),
  height = c(1.67, 1.82, 1.7, 1.5),
  weight = c(64, 80, 70, 40),
  age = c(20, 19, 20, 20),
  bmi_is = c(64/(1.67^2), 80/(1.82^2), 70/(1.7^2), 40/(1.5^2))
)
print(BMI)

          name gender height weight age   bmi_is
1       Vedant   Male   1.67     64  20 22.94812
2          Raj   Male   1.82     80  19 24.15167
3        Jatin   Male   1.70     70  20 24.22145
4 Shubhanshika Female   1.50     40  20 17.77778

In [29]:
BMI[1,]

  name   gender height weight age bmi_is
1 Vedant Male   1.67   64     20  22.94812

In [30]:
BMI$name # dataframe_name$column_name will give that column entries

[1] "Vedant"       "Raj"          "Jatin"        "Shubhanshika"

In [39]:
BMI <- data.frame(
  name = c('Vedant', 'Raj', 'Jatin', 'Shubhanshika'),
  gender = c("Male", "Male", "Male", "Female"),
  height = c(1.67, 1.82, 1.7, 1.5),
  weight = c(64, 80, 70, 40),
  age = c(20, 19, 20, 20),
  bmi_is = c(weight[1]/(height[1]^2), weight[2]/(height[2]^2), weight[3]/(height[3]^2), weight[4]/(height[4]^2))
)
print(BMI)

          name gender height weight age   bmi_is
1       Vedant   Male   1.67     64  20 22.94812
2          Raj   Male   1.82     80  19 24.15167
3        Jatin   Male   1.70     70  20 24.22145
4 Shubhanshika Female   1.50     40  20 17.77778